game/gamestate.pb.go
game/gamemessage.pb.go
server
game/handmessage.pb.go
*.pb.*
protoc-3.7.1-linux-x86_64.zip
.VSCodeCounter/details.md
.VSCodeCounter/results.csv
.VSCodeCounter/results.md
.VSCodeCounter/results.txt
game-server
nats-server
server.test
game-server.test
__debug_bin

# Temporary build files
build/

# Compose environment file.
.env

# Generated code coverage file
coverage.out
coverage.html
script_test_coverage.out
script_test_coverage.html
system_test_coverage*.out
system_test_coverage*.html
