# Compiled executables
botrunner
tester
server
!botrunner/
!tester/
!server/

# Generated protobuf code
internal/game/*.pb.go

# Bot log files
log/
*.out
*.log
msgs_dump.json

# Temporary build files
build/

# VS Code debugger
__debug_bin

# docker-compose env file
.env
